---

import CardInfo from "../../components/cardInfo.astro";
import type ICard from '../../interfaces/ICardInfo'

const {infoCard} = Astro.props

console.log(infoCard);


---

<div data-aos="fade-left"
data-aos-anchor="#example-anchor"
data-aos-offset="500"
data-aos-duration="500" class="container mx-auto w-full h-auto flex flex-col flex-wrap justify-evenly items-center mb-10 gap-10 py-10 lg:flex-row">

    {
        infoCard.map( (card:ICard) => (
            <CardInfo infoUno = {card.infoUno}
                infoDos = {card.infoDos}
            />
        ))
    }


</div>