---

import Card from "../card.astro";
import type ICard from "../../interfaces/ICard";

const {json} = Astro.props

console.log("productos",json);


---

<div  data-aos="fade-up" class="w-full h-auto flex flex-row flex-wrap justify-center items-center gap-10 py-10">
    {
        json.map((info:ICard) => (
            <Card  title={info.title}/>
        ))
    } 
</div>