---

import type Card from '../../interfaces/ICard'
import CardMini from "../../components/cardMini..astro";
import CardGraph from "../../components/cardGraph.astro";

const {JsonCards,jsonGraph} = Astro.props

---

<div class="container mx-auto w-[90vw] h-auto flex py-10 justify-evenly items-center flex-wrap gap-10">

    {JsonCards.map( (card:Card) => (
            <CardMini title = {card.title}
                paragraph = {card.paragraph}
            />
        ))
    }
    
    {
        jsonGraph? <CardGraph ourPercentages = {jsonGraph} /> : null
    }
    
</div>