---

import Layout from "../layouts/layout.astro";
import SecInfoCard from '../components/sections/secInfoCard.astro';
import json from '../services/data/infoPage.json'
---

<Layout title="Capriccio">
    <div class="w-auto h-auto min-h-screen">

        <!-- start section video -->
        <div data-aos="fade-up"
        data-aos-anchor-placement="top-bottom" class="mb:mb-36 w-full mb:h-screen bg-black">
            <video class="pointer-events-none"  id="myVideo" src="../videos/capriccio_video.mp4" autoplay muted loop></video>
        </div>
        <!-- end section video -->

        <!-- start section info images --> 
        <SecInfoCard json={json.infoIndex.infoCard}/>
        <!-- end section info iamges -->
        

    </div>
</Layout>
