---

 const {title,paragraph} = Astro.props
---

<div class="md:container flex justify-center items-center bg-primaryContrast text-center w-[90%] max-md:min-h-[10rem] min-h-[18rem] rounded-2xl p-3 shadow-2xl md:w-72 lg:w-[30%]">
    <h2 class="font-semibold text-2xl text-secondaryColor mb-4 md:text-3xl">{title}</h2>
</div>