---

 const {title,paragraph} = Astro.props
---

<div class="flex justify-center items-center bg-primaryContrast text-center w-[90%] max-md:min-h-[35rem] h-[auto] rounded-2xl p-3 shadow-2xl md:w-72 lg:w-[40%] lg:h-72">
    <h2 class="font-semibold text-2xl text-secondaryColor mb-4 md:text-3xl">{title}</h2>
</div>