---

 const {title,paragraph} = Astro.props
---

<div class="md:container  relative overflow-hidden flex justify-center items-center bg-[#473335b7] text-center w-[90%] max-md:min-h-[10rem] min-h-[18rem] rounded-2xl p-3 shadow-2xl md:w-72 lg:w-[30%]">
    <img class="w-full z-10 absolute blur-sm" src="/imgs/rebanada-pizza-crujiente-carne-queso.jpg" alt="">
    <div class="w-full h-full bg-gradient-to-b from-[#0000005f] to-[#252525] absolute z-20"></div>
    <h2 class="absolute z-40 font-extrabold text-2xl text-white drop-shadow-lg mb-4 md:text-3xl">{title}</h2>
</div>