---

const {infoUno,infoDos} = Astro.props

---

<div class="w-72 h-auto p-5 flex flex-col bg-primaryContrast rounded-xl shadow-xl justify-center items-center gap-5 md:w-[30rem]">
    <p class="text-center text-3xl md:text-4xl text-secondaryColor font-bold">{infoUno}</p>
    <p class="text-center md:text-2xl text-secondaryColor">{infoDos}</p>
</div>