---

const {title} = Astro.props

---

<div class="container mx-auto">
    <form action="" class="w-full h-auto flex flex-col gap-5 justify-center items-center">
        <label for="" class="w-72 h-10 text-center md:w-[30rem] md:h-16">
            <input class="w-full h-full shadow-md rounded-lg p-2" type="text" name="" id="" placeholder="Nombre Completo">
        </label>

        <label for="" class="w-72 h-10 text-center md:w-[30rem] md:h-16">
            <input class="w-full h-full shadow-md rounded-lg p-2" type="text" name="" id="" placeholder="Correo Electronico">
        </label>

        <label for="" class="w-72 h-10 text-center md:w-[30rem] md:h-16">
            <input class="w-full h-full shadow-md rounded-lg p-2" type="text" name="" id="" placeholder="Direccion">
        </label>

        <label for="" class="w-72 h-auto text-center md:w-[30rem] md:h-52">
            <textarea class="w-full h-full shadow-md rounded-lg p-2 " name="" id="" placeholder="Mensaje"></textarea>
        </label>
        <button class="px-20 py-3 text-xs bg-btnColor rounded-full text-white mx-auto transition ease-in-out hover:bg-transparent hover:text-[#203F71] hover:border hover:border-[#1CB9C8] mb-10 md:text-xl md:px-36" type="submit">ENVIAR</button>
    </form>
</div>