---
import '../css/style.css'

import json from '../services/data/infoPage.json'
import type Links from '../interfaces/ILinks'

---

<header class="w-[100%] h-auto flex flex-col justify-center items-center bg-primaryContrast opacity-90 text-secondaryColor px-5   md:fixed md:flex-row md:gap-10 md:justify-evenly md:h-20 lg:justify-between">

    <div class="w-36 h-auto flex justify-start items-center lg:ml-10">
        <img class="w-full h-full lg:w-16 lg:h-auto " src=`../imgs/Logo_Capriccio_Pizza_Artesanal.png` alt="">
        <h2 class="hidden md:block text-4xl font-bold lg:ml-3 text-">CAPRICCIO</h2>
    </div>

    <div id="navLinks" class="relative flex w-full h-20 justify-between items-center md:justify-evenly md:w-[26rem] lg:mr-10">
        <div class="flex w-full h-auto justify-between items-center md:hidden">
            <div id="menuNav" class="w-10 h-10 flex items-center gap-3 py-10">
                <i class="ti ti-menu-2 text-2xl"></i>
                <p>MENU</p>
            </div>
            <div class="w-10 h-auto">
                <i class="ti ti-search text-2xl"></i>
            </div>
        </div>
        <div id="links" class="absolute w-screen h-auto justify-start items-center hidden pb-5 px-9 bg-primaryContrast md:flex translate-y-20  md:flex-row md:translate-y-0 md:w-full md:bg-transparent md:p-0 lg:w-[25rem] md:justify-end">
            <ul class="flex flex-col gap-5 md:flex-row mt-5 md:mt-0 lg:gap-4">
                {
                    json.InfoNavbar.map( (info:Links) => (
                        <li id="subMenu" class="hoverServices"><a class="transition hover:text-tertiaryColor" href={info.link}>{info.title}</a>

                            {
                                info.subMenu == undefined ? console.log('no') : 
                                    <ul id="subLinks" class="contServices  max-md:w-full max-md:h-auto md:-translate-x-16 hidden max-md:mt-4">
                                        {
                                            info.subMenu?.map( (subInfo:Links) => (
                                                <li class="w-full h-10  text-white flex justify-start items-center mx-3 my-5 max-md:m-5 md:justify-center"><a class="transition hover:text-[#1CB9C8]" href={subInfo.link}>{subInfo.title}</a></li>
                                            ))
                                        }
                                    </ul>
                            }
                        </li>
                    ))
                }
            </ul>
        </div>
    </div>

</header>